{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Myblog{% else %}{{ _('Welcome to Myblog') }}{% endif %}
{% endblock %}

{# From bootstrap docs: #}
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Myblog</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
                    <li><a href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a></li>
                </ul>
                {# Check if defined, may not be for some pages like for errors: #}
                {% if g.search_form %}
                    {# Default method is POST, so change to GET:
                       Since we can search from any page, we also need to supply a target URL to action: #}
                    <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}">
                        <div class="form-group">
                            {# Placeholder makes Search label appear within the text box #}
                            {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                        </div>
                    </form>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
                    {% else %}
						<li>
							<a href="{{ url_for('main.messages') }}">{{ _('Messages') }}
								{% set new_messages = current_user.new_messages() %}
								<span id="message_count" class="badge"
									  {# Only use style if at least 1 unread message: #}
									  style="visibility: {% if new_messages %}visible
														 {% else %}hidden{% endif %};">
									{{ new_messages }}
								</span>
							</a>
						</li>
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{# Flask Bootstrap uses content block forcing some changes: #}
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# Due to flask-bootstrap changes, we will now use app_content blocks #}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {# Include/retain scripts block defined in parent bootstrap template: #}
    {# Without using super, this would override definitions from parent template #}
    {{ super() }}
    {{ moment.include_moment() }}
    {# Using request locale, set moment language - correctly format dates/times #}
    {{ moment.lang(g.locale) }}
    <script>
        function translate(sourceElem, destElem, sourceLang, destLang) {
			// Create a spinner (Animated GIF) while waiting for translation service:
			// By default, the static folder is at the same level as the templates folder
			// This spinner will be replaced by the resulting text upon call completion
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/translate', {
                text: $(sourceElem).text(),
                source_language: sourceLang,
                dest_language: destLang
			// Define callback function for success:
            }).done(function(response) {
				// Replace translate link with translated text:
                $(destElem).text(response['text'])
			// Define callback function for failure:
            }).fail(function() {
                $(destElem).text("{{ _('Error: Could not contact server.') }}");
            });
        }
		{# Use jQuery $ function to load this function after page loads #}
        $(function () {
            // define these outside of mouse_in/mouse_out functions so that both have access to them
            var timer = null;
            var xhr = null;
            // use jQuery selector - when hover over elements tagged with user_popup class
            // activate this function
            $('.user_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    // use setTimeout function
                    // * wait for 1000 ms then fire AJAX request
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            // build URL from element we're hovering over
                            // take its first child's text component and remove any whitespace
                            // to get the correct username
                            '/user/' + elem.first().text().trim() + '/popup').done(
                                // use promise functionality to call this function upon AJAX
                                // request completion - response result is put into data argument
                                function(data) {
                                    xhr = null;
                                    // Create bootstrap popover in manual mode
                                    elem.popover({
                                        trigger: 'manual',
                                        // Use HTML - the Python view function we called returns HTML
                                        html: true,
                                        // Instructor didn't care for this so he disabled
                                        animation: false,
                                        // Use the span element as the container so staying within the
                                        // popover doesn't cause it to close
                                        container: elem,
                                        // Use the content we got back from the view function
                                        content: data
                                    }).popover('show');
                                    // Since we invoked popover in manual mode, have to invoke show to display it
                                    // Popover contents include a moment date which requires this function to
                                    // render it correctly:
                                    flask_moment_render_all();
                                }
                            );
                    }, 1000);
                },
                function(event) {
                    // mouse out event handler
                    // if timer hasn't fired yet, clear it
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    // if AJAX request in progress, cancel it
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    // if the popover was created, destroy it
                    else {
                        elem.popover('destroy');
                    }
                }
            );
        });
		{# Enable dynamic update of user message count: #}
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }
        {% if current_user.is_authenticated %}
			$(function() {
				var since = 0;
				// Run this every 10,000 ms
				setInterval(function() {
					$.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
						function(notifications) {
							for (var i = 0; i < notifications.length; i++) {
								if (notifications[i].name == 'unread_message_count')
									set_message_count(notifications[i].data);
								since = notifications[i].timestamp;
							}
						}
					);
				}, 10000);
			});
        {% endif %}
    </script>
{% endblock %}

