{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Myblog{% else %}{{ _('Welcome to Myblog') }}{% endif %}
{% endblock %}

{# From bootstrap docs: #}
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Myblog</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
                    <li><a href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a></li>
                </ul>
                {# Check if defined, may not be for some pages like for errors: #}
                {% if g.search_form %}
                    {# Default method is POST, so change to GET:
                       Since we can search from any page, we also need to supply a target URL to action: #}
                    <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}">
                        <div class="form-group">
                            {# Placeholder makes Search label appear within the text box #}
                            {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                        </div>
                    </form>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
                    {% else %}
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{# Flask Bootstrap uses content block forcing some changes: #}
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# Due to flask-bootstrap changes, we will now use app_content blocks #}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {# Include/retain scripts block defined in parent bootstrap template: #}
    {# Without using super, this would override definitions from parent template #}
    {{ super() }}
    {{ moment.include_moment() }}
    {# Using request locale, set moment language - correctly format dates/times #}
    {{ moment.lang(g.locale) }}
    <script>
        function translate(sourceElem, destElem, sourceLang, destLang) {
			// Create a spinner (Animated GIF) while waiting for translation service:
			// By default, the static folder is at the same level as the templates folder
			// This spinner will be replaced by the resulting text upon call completion
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/translate', {
                text: $(sourceElem).text(),
                source_language: sourceLang,
                dest_language: destLang
			// Define callback function for success:
            }).done(function(response) {
				// Replace translate link with translated text:
                $(destElem).text(response['text'])
			// Define callback function for failure:
            }).fail(function() {
                $(destElem).text("{{ _('Error: Could not contact server.') }}");
            });
        }
    </script>
{% endblock %}

